// Colors
$dark-gray: #333333;
$blue: #1c88b8;

// Font Sizes
$font-size-large: 1.8rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2 * $m-size;
$xl-size: 3 * $m-size;
$desktop-breakpoint: 45rem;
